<%- include('header') -%>
<script>
function parseMarkdown(markdownText) {
	const htmlText = markdownText
		.replace(/^### (.*$)/gim, '<h3>$1</h3>')
		.replace(/^## (.*$)/gim, '<h2>$1</h2>')
		.replace(/^# (.*$)/gim, '<h1>$1</h1>')
		.replace(/^\> (.*$)/gim, '<blockquote>$1</blockquote>')
		.replace(/\*\*(.*)\*\*/gim, '<b>$1</b>')
		.replace(/\*(.*)\*/gim, '<i>$1</i>')
		.replace(/!\[(.*?)\]\((.*?)\)/gim, `<img alt='$1' src='$2' class="created_img" />`)
		.replace(/\[(.*?)\]\((.*?)\)/gim, "<a href='$2'>$1</a>")
		.replace(/\n$/gim, '<br />')

	return htmlText.trim()
}
window.onload = function(){
    let description = `<%-event.Description%>`;
    document.querySelector('#description').insertAdjacentHTML( 'beforeend', parseMarkdown(description) );
}


</script>
<div class="event">
	<img class="event_img"src="<%=event.Link_Image%>">
	<p><span style="font-weight: bold;">Date:</span> <%= event.Date_ev%></p>
	<p><span style="font-weight: bold;">Max Tickets:</span> <%= event.Max_Tickets%></p>
	<h2>Description:</h2>
	<div id = "description" class="description">
	</div>
</div>



<%- include('footer') -%>